---
# Grafana IngressRoute
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`grafana.lab.jamilshaikh.in`)
      kind: Rule
      services:
        - name: prometheus-stack-grafana
          port: 80
  tls:
    secretName: wildcard-lab-tls  # Replicated wildcard certificate
