---
# Longhorn UI IngressRoute
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: longhorn-ui
  namespace: longhorn-system
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`longhorn.lab.jamilshaikh.in`)
      kind: Rule
      services:
        - name: longhorn-frontend
          port: 80
  tls:
    secretName: wildcard-lab-tls  # Replicated wildcard certificate
