apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: monitoring
    server: https://kubernetes.default.svc
  project: default
  sources:
    - repoURL: https://github.com/jamilshaikh07/talos-proxmox-gitops
      path: gitops/manifests/monitoring-namespace
      targetRevision: master
    - chart: kube-prometheus-stack
      repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 80.0.0
      helm:
        skipCrds: false
        values: |
          crds:
            enabled: true
          prometheusOperator:
            admissionWebhooks:
              enabled: false
            tls:
              enabled: false
          grafana:
            adminPassword: admin
            ingress:
              enabled: false

            # Disable init container that tries to chown (NFS doesn't support chown)
            initChownData:
              enabled: false

            # Enable sidecar for automatic dashboard loading
            sidecar:
              dashboards:
                enabled: true
                label: grafana_dashboard
                labelValue: "1"
                folder: /tmp/dashboards
                folderAnnotation: grafana_folder
                searchNamespace: ALL
                provider:
                  foldersFromFilesStructure: true
              datasources:
                enabled: true
                label: grafana_datasource
                labelValue: "1"
                searchNamespace: ALL

            # Additional datasources (Loki for logs)
            additionalDataSources:
              - name: Loki
                uid: loki
                type: loki
                access: proxy
                url: http://loki-gateway.monitoring.svc.cluster.local
                jsonData:
                  maxLines: 1000
                  derivedFields:
                    - datasourceUid: prometheus
                      matcherRegex: "(?:trace_id|traceID)=(\\w+)"
                      name: TraceID
                      url: "$${__value.raw}"
                isDefault: false
                editable: true
              - name: Tempo
                uid: tempo
                type: tempo
                access: proxy
                url: http://tempo.monitoring.svc.cluster.local:3100
                jsonData:
                  httpMethod: GET
                  tracesToLogs:
                    datasourceUid: loki
                    filterByTraceID: true
                    filterBySpanID: true
                  tracesToMetrics:
                    datasourceUid: prometheus
                  serviceMap:
                    datasourceUid: prometheus
                  nodeGraph:
                    enabled: true
                editable: true
          prometheus:
            prometheusSpec:
              retention: 30d
              storageSpec:
                volumeClaimTemplate:
                  spec:
                    storageClassName: nfs-client
                    accessModes: ["ReadWriteOnce"]
                    resources:
                      requests:
                        storage: 10Gi
  syncPolicy:
    automated: {}
    syncOptions:
      - ServerSideApply=true
      - Replace=true
      - Validate=false
      - RespectIgnoreDifferences=true
